table {
    border-collapse: collapse;
}
td, th{
    text-align: left;
    border: 1px solid
}
tbody tr:hover{
    background-color: #d3d3d3;
}
.even{
    background-color: #f2f2f2;
}
.odd{
    background-color: #ffffff;
}
